<div class="container">
    <div class="content-wrapper">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input [(ngModel)]="username" matInput placeholder="Enter a username..." />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input [(ngModel)]="title" matInput placeholder="Enter a title..." />
        </mat-form-field>
        <angular-editor [(ngModel)]='content' [config]="editorConfig"></angular-editor>
        <button (click)="post()" mat-button class="post-button">Post</button>
        {{username}}
        {{title}}
        {{content}}
    </div>
</div>